extends layout

block content
  .container
    h1 Control LED
    p.lead You can do it
    mixin toggle(type,text)
    button.btn(class="btn-#{type}",type="button",data-toggle="button",aria-pressed="false",autocomplete="off")= message
