<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" name="viewport" content="width=device-width,initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" media="screen">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.cs" media="screen">
  <script src="http://code.jquery.com/jquery.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
  <title>Sand's App</title>
</head>

<body>
  <header>
    <h2>Tanaka Scale</h2>
    <h2>Develop Team</h2>
  </header>
  <h3><%= title %></h3><br />
  <h4><%= message %></h4><br />
  <form name="form" id="form" onsubmit="return false" method="PUT" action="">
    <button name="value" id="button" onclick="changeValue();" value=true>Switch off</button>
  </form>

  <script type="text/javascript">
    function changeValue() {

      if (document.form.button.value === "true") {
        document.form.button.value = false;
        document.form.button.innerHTML = "Switch On";
      } else {
        document.form.button.value = true;
        document.form.button.innerHTML = "Switch Off";
      }
    }
  </script>
  <footer>
    <h2>Copyright 2016 Sand</h2>
  </footer>

</body>

</html>
