<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" name="viewport" content="width=device-width,initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" media="screen">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.cs" media="screen">
  <script src="http://code.jquery.com/jquery.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
  <title>Sand's App</title>
</head>

<body>
  <header>
    <h2>Tanaka Scale</h2>
    <h2>Develop Team</h2>
  </header>
  <h3><%= title %></h3><br />
  <h4><%= message %></h4><br />
  <form name="form" id="form" onsubmit="return false">
    <button name="value" id="submitButton" onclick="changeValue();" value=false>Switch On</button>
  </form>

  <script type="text/javascript">
    function changeValue() {

      if (document.form.button.value === "true") {
        document.form.button.value = false;
        document.form.button.innerHTML = "Switch On";
      } else {
        document.form.button.value = true;
        document.form.button.innerHTML = "Switch Off";
      }
      // $.ajax({
      //   url: "http://raspi.local/pi/actuators/leds/1",
      //   type: 'PUT',
      //   data: {
      //     value: newVal
      //   },
      //   contentType: 'application/json',
      //   headers: {},
      //   async: false
      // });
    }
  </script>
  <!-- <input type="checkbox" id="toggle-status" />
  <script>
    $(function() {
      $('#toggle-status').bootstrapToggle({
        on: 'On',
        off: 'Off'
      });
    });

    $(function() {
      $('#toggle-status').change(function() {
        sendAction("_setStatus", {
          "status": $(this).prop('checked')
        });
      });
    });

    function sendAction(type, value) {
      $.ajax({
        url: "http://raspi.local/pi/actuators/leds/1",
        dataType: 'json',
        type: 'put',
        data: JSON.stringify({
          "value": true
        }),
        contentType: 'application/json',
        processData: false
      });
    }
  </script> -->

  <footer>
    <h2>Copyright 2016 Sand</h2>
  </footer>

</body>

</html>
